#main {
	position: absolute;
	margin-top: 35px;
	width: 100%;
	height: 95%;
	z-index: 1;
	background-color: #FFFFFF;
}

#bar {
	margin-top: 2%;
	margin-right: 36%;
	position: fixed;
	top: 10px;
	right: 20px;
	width: 300px;
	height: 100px;
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
	border-radius: 7px;
	z-index: 2;
	padding: 10px;
	z-index: 5;
	position: absolute;
	display: none;
}

#text {
	margin-top: 12%;
	margin-right: 38%;
	position: fixed;
	top: 10px;
	right: 20px;
	width: 200px;
	height: 300px;
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
	border-radius: 7px;
	z-index: 2;
	padding: 10px;
	z-index: 5;
	position: absolute;
	display: none;
}

#word {
	margin-top: 13%;
	margin-right: 39.5%;
	position: fixed;
	top: 10px;
	right: 20px;
	width: 150px;
	height: 275px;
	border-radius: 7px;
	z-index: 3;
	padding: 10px;
	z-index: 5;
	position: absolute;
	display: none;
}

/* *,
*::after,
*::before {
	box-sizing: border-box;
}
 */
html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #424242;
}

.px-1,
.pr-1 {
	padding-right: 15px;
}

.px-1,
.pl-1 {
	padding-left: 15px;
}

.mb-1 {
	margin-bottom: 1vh;
}

#title {
	text-align: center;
	color: whitesmoke;
	margin: 0;
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	width: 95%;
	position: absolute;
}

#vision {
	width: 360px;
	position: absolute;
	margin-top: 5px;
	margin-left: 70%;
}

#btn {
	width: 28%;
	height: 25px;
	margin-left: 10px;
}

#map {
	position: absolute;
	margin-top: 35px;
	width: 64%;
	height: 95%;
}

#chart1 {
	position: absolute;
	margin-top: 35px;
	margin-left: 64.5%;
	width: 35%;
	height: 47%;
	z-index: 1;
	display: none;
}

#chart2 {
	margin-top: 26%;
	position: absolute;
	margin-left: 64.5%;
	width: 35%;
	height: 47%;
	z-index: 1;
	display: block;
}

#chart3 {
	position: absolute;
	margin-top: 35px;
	margin-left: 64.5%;
	width: 35%;
	height: 47%;
	z-index: 2;
	display: block;
}

#chart4 {
	margin-top: 26%;
	position: absolute;
	margin-left: 64.5%;
	width: 35%;
	height: 47%;
	z-index: 2;
	display: block;
}

#chart5 {
	position: absolute;
	margin-top: 35px;
	margin-left: 64.5%;
	width: 35%;
	height: 47%;
	z-index: 3;
	display: block;
}

#select {
	margin-top: 35px;
	margin-left: 20%;
	position: absolute;
	background-color: rgba(170, 174, 176, 0.2);
	width: 50%;
	height: 5%;
	display:none
}

#jam {
	position: absolute;
	font-size: 25px;
	margin-top: 35px;
	margin-left: 1%;
	z-index: 10;
	display: none;
}
